.stars-icon {
    color: yellow;
}

.single-comment-container {
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
}

.add-comment-form {
    display: none;
}

.toggle-form {
    margin-bottom: 2em;
}

.comments-container {
    text-align: center;
}

.title {
    margin-bottom: 1em;
}
