{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/userinfo.css") }}"/>
{% endblock %}

{% block main %}

<div class="form-container container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}

</div>

{% endblock %}
